

--amaranth: #e14658ff;
--raisin-black: #22252cff;
--khaki: #c0b3a0ff;
--english-violet: #3f3250ff;
--slate-gray: #708090ff;



.showcase {
    background-color: var(--darker);
    height: calc(100vh - 45px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
  }
  
  .showcaseCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    max-height: 100%;
    overflow: auto;
    padding: 10px;
  }
  
  .sccards {
    position: relative;
    height: 700px;
    width: 700px;
    margin: 10px;
    border: 1px solid var(--light);
  }
  
  .descriptionBox {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  .flexBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
  }
  
  .descriptionText {
    text-align: center;
    font-size: 30px;
    color: white;
  }
  
  .showcaseImg {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    padding: 10px;
    opacity: 1;
    transition: opacity 0.5s linear;
  }
  
  .sccards .card-buttons {
    width:80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s linear;
  }
  
  .showcaseImg:hover, .sccards:hover .showcaseImg {
    opacity: 0.1;
  }
  
  .sccards:hover .card-buttons {
    opacity: 1;
  }
  
  .sccards .card-buttons a {
    display: inline-block;
    color: white;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    font-size: 70px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .iconImg {
    height: 100px;
    width: 100px;
    padding: 0;
    margin: 0;
  }
  
  @media screen and (max-width: 768px) {
    .sccards {
      height: 700px;
      width: 100%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .showcase {
      padding-left: 0;
    }
    .sccards {
      height: 300px;
      width: 300px;
    }
    .iconImg {
      height: 100px;
      width: 100px;
    }
    .sccards .card-buttons a {
      font-size: 30px;
  
    }
  }
      