.resume {
  background-color: var(--darker);
  height: calc(100vh - 45px);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  box-sizing: border-box;
  justify-content: center;
}

#resume-article,
#info-article {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  align-items: center;
  max-height: 100%;
  overflow: hidden;
  padding: 10px;
  width: 80%;
}

.innerCard {
  padding-top: 15px;
  background-color: rgba(66, 66, 66, 0.808);
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.resumeHeaders {
  width: 100%;
  font-weight: 900;
  font-size: 60px;
  font-family: "Prompt", Helvetica, sans-serif;
  color: var(--white);
  text-align: center;
  align-items: center;
  justify-content: center;
}

.liHeaders {
  font-weight: 900;
  font-size: 20px;
  font-family: "Prompt", Helvetica, sans-serif;
  color: var(--white);
  align-items: center;
  justify-content: center;
  font-style: italic;
}

#proficiencies {
  align-items: flex-start;
  margin-top: auto;
  margin-bottom: auto;
  color: var(--light);
  font-size: 18px;
  width: 80%;
}

.star-list {
  list-style-type: none;
  padding-left: 1em;
}

.star-list li::before {
  content: "★";
  display: inline-block;
  margin-left: -1em;
}

#innerResume {
  position: relative;
  width: 70%;
}

@media screen and (max-width: 1200px) {
  #innerResume {
    width: 100%;
  }
  .resume {
    height: auto;
    flex-direction: column;
  }
  #info-article {
    width: 100%;
  }
  #resume-article {
    width: 100%;
  }
  #proficiencies {
    width: 90%;
  }
}
