.about {
  background-color: var(--darker);
  height: calc(100vh - 45px);
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#about-img {
  flex: 1;
  left: 400px;
  width: 500px;
  height: 800px;
  opacity: 0.2;
  z-index: 1;
  margin-top: 100px;
}

#innerAbout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(66, 66, 66, 0.808);
  padding: 10px;
}

#about-article {
  width: 80%;
  height: 80%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../../assets/images/eli-full.JPEG");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#about-article h3 {
  color: white;
  font-family: "Prompt", Helvetica, sans-serif;
  font-size: 100px;
  font-weight:900
}

#about-article h4 {
  color: var(--meddark);
  font-family: "Prompt", Helvetica, sans-serif;
  font-size: 20px;
  margin-top: -3px;
  padding-bottom: 0px;
}

#about-article div {
  margin-top: 0;
  color: white;
  font-family: "Prompt", Helvetica, sans-serif;
  font-weight: light;
  margin-left: 0;
  width: 70vw;
  margin-right: 0;
  font-size: 35px;
}

.aboutContent {
  overflow-wrap: break-word;
  opacity: 1;
}

#submitMessage {
    color:rgba(255, 0, 0, 0.449);
}
#thanksMessage {
  color: var(--meddark);
}
#hidden {
    display: none;
}
#unhidden {
    display: block;
}


@media screen and (max-width: 1200px) {
    #about-article div {
        margin-left: 0;
        width: 100%;
        margin-right: 0;
        font-size: 2.5vw;
      }
  }

@media screen and (max-width: 768px) {
  #about-article {
    justify-content: flex-start;
    background-position: top;
  }
    #about-article div {
    margin-left: 0;
    width: 100%;
    margin-right: 0;
    font-size: 3.4vw;
  }
}

@media screen and (max-width: 450px) {
    #about-article div {
      margin-left: 0;
      width: 100%;
      margin-right: 0;
      font-size: 4vw;
    }
    #about-article h4 {
        color: var(--meddark);
        font-family: "Prompt", Helvetica, sans-serif;
        font-size: 15px;
        margin-top: -3px;
        padding-bottom: 0px;
      }
  }
  
