.showcase {
    background-color: var(--darkbg);
    height: 100vh;    
    width:100vw;
    overflow:hidden;
    height:auto;
    padding:1vw
}


.showcase-items {
    display: flex;
    position:relative;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    justify-content: center;
    align-items: center;
}

.showcase-cards {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1.5rem;
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
    margin-top:1.5rem;
    flex-basis: 40vw;
    flex-grow: 0;
    flex-shrink: 0;
    min-height: 40vw;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--meddark);
    flex-grow:0;
}

.item h2 {
    position: relative;
    margin: -3rem 0 1.5rem 0;
    padding: 0.5rem 1rem;
    background-color: var(--darkbg);
    color: var(--meddark);
    border: 2px solid var(--white);
    border-radius: 8px;
}

.sc-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  

.sc-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }