.showcase {
  background-color: var(--darker);
  height: calc(100vh - 45px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showcaseCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  max-height: 100%;
  overflow: auto;
  padding: 10px;
}

.sccards {
  position: relative;
  height: 600px;
  width: 600px;
  margin: 10px;

  border: 1px solid var(--light);
}

.showcaseImg {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  padding: 10px;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.sccards .card-buttons {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s linear;
}

.showcaseImg:hover, .sccards:hover .showcaseImg {
  opacity: 0.1;
}

.sccards:hover .card-buttons {
  opacity: 1;
}

.sccards .card-buttons a {
  width: 100%;
  display: inline-block;
  margin: 5px;
  padding: 10px 20px;
  color: white;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  font-size: 70px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.iconImg {
  height: 200px;
  width: 200px;
}
/* 
.sccards .card-buttons button:hover {
  background-color: var(--meddark);
} */
