* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
}

html {
  width: 100%;
}

ul {
  list-style-type: none;
}

:root {
  --dark: #151515;
  --darker: #070707;
  --darkbg: #373737;
  --med: #a8a8a8;
  --meddark: #0bd3d3;
  --oj: #fff568;
  --light: #d0d0d0;
  --lightbg: #f1f1f1;
  --medcar: #223647;
  --black: #0d0d0d;
  --white: #e0e0e0;
}

.main {
  display: flex;
  flex-direction: row;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.logoImg {
  margin-top: 10px;
  margin-bottom: 40px;
  height: 80px;
  width: 80px;
  justify-content: center;
}

li div {
  padding-bottom: 10px;
  padding-top: 10px;
}

h1,
i {
  color: white;
  font-size: 1.2rem;
}

.sideNav {
  width: 0;
  background-color: var(--darkbg);
  /* d-flex flex-column flex-shrink-0 align-items-center*/
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  justify-content: flex-start;
  /* z-index: 1; */
  /* position: fixed; */

  /* overflow-x: hidden; */
  transition: 0.5s;
}

.sideNav nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selected {
  background-color: var(--darker);
}

nav ul li a {
  transition: background-color 0.8s ease;
}

nav ul li a:hover,
nav ul li:hover {
  background-color: var(--darker);
  cursor: pointer;
  height: 100%;
  align-items: center;
}

.mainContain {
  width: 100%;
}

.footerCard {
  background-color: var(--darker);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 45px;
  color: var(--med);
  border-top: 1px groove var(--darkbg);
}

#footerText {
  font-size: 12px;
}

.footerCard img {
  width: 20px;
  height: 20px;
  margin: 0px 5px;
  margin-bottom: 5px;
  color: var(--med);
}

.navEl {
  width: 120px;
}
#allNav {
  background-color: var(--darkbg);
}

#innerNav {
  background-color: var(--darkbg);
}

#burgerContain {
  position: fixed;
  background-color: #08080800;
  top: 10px;
  left: 10px;
  transition: opacity 0.5s ease;
  z-index: 1;
}

.burger {
  width: 60px;
  height: 10px;
  background-color: var(--meddark);
  margin: 6px 0;
}

.closebtn {
  background-color: var(--darkbg);
  color: rgb(172, 172, 172);
  font-weight: bolder;
  border: none;
  font-size: 2.5rem;
  margin-bottom: 0;
  display: flex;
  margin-left: auto;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .closebtn{
    margin-right:10px;
    margin-left: 10px;
  }
  #burgerContain {
    position: absolute;
  }  
  .burger {
    width: 40px;
    height: 5px;
  }
  .navEl {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navEl h1 {
    display: none;
  }
  .sideNav {
    width: 100%;
  }
  .main {
    flex-direction: column;
  }
  .sideNav nav {
    width: 100%;
  }
  #innerNav {
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: space-between;
  }
  .sideNav nav ul {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    margin-bottom: 0;
  }
  .logoImg {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 40px;
    width: 40px;
  }
}
