* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  width: 100%;
}


:root {
  --dark: #151515;
  --darker: #070707;
  --darkbg: #373737;
  --med: #a8a8a8;
  --meddark: #0bd3d3;
  --oj: #fff568;
  --light: #d0d0d0;
  /* --light: #e6e6e6; */
  --lightbg: #f1f1f1;
  /* --lightbg: #b0b0b0; */
  --medcar: #223647;
  --black: #0d0d0d;
  --white: #e0e0e0;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.logoImg {
  margin-top: 40px;
  height: 80px;
  width: 80px;
}

li div {
  padding-bottom: 10px;
  padding-top: 10px;
}

h1, i {
  color: white;
  font-size: 1.2rem;
}

.sideNav {
  background-color: var(--dark);
}

.selected {
  background-color: var(--darker);
}

nav ul li a:hover,
nav ul li:hover {
  transition: 0.8s;
  background-color: var(--darker);

  cursor: pointer;
  height: 100%;
  align-items: center;
} 

.mainContain {
  width: 100%;
}


footer {
  background-color: var(--darker);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height:45px;
  color: var(--med);
  border-top: 1px groove var(--darkbg);
}

#footerText {
  font-size: 12px;
}

footer img {
  width: 20px;
  height: 20px;
  margin: 0px 5px;
  margin-bottom: 5px;
  color: var(--med);
}